@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'DotGothic16', sans-serif;
    background-color: black;
    color: wheat;
}

span {
    font-size: 140px;
}

.relative {
    /* width: 25%; */
    text-align: center;
}



h1 {
    font-family: 'Roboto Slab', serif;
    font-size: 80px;
    background-color: teal;
    color: white;
}

@media (max-width: 720px) {
    span {
        font-size: 100px;
    }

    h1 {
        font-size: 75px;
    }

    .date span {
        font-size: 65px;
    }
}


@media (max-width: 500px) {
    span {
        font-size: 80px;
    }

    h1 {
        font-size: 70px;
    }

    .date span {
        font-size: 55px;
    }
}


@media (max-width: 420px) {
    span {
        font-size: 60px;
    }

    h1 {
        font-size: 65px;
    }

    .date span {
        font-size: 45px;
    }
}