@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

span {
    font-size: 122px;
    font-family: 'Roboto', sans-serif;
}

.container {
    background-color: wheat;
    border: 30px solid black;
    width: 700px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    position: relative;
    border-radius: 10px;
}


body {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}

/* video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    
    
} */


#clo {
    position: absolute;
    top: -80px;
    font-size: 50px;
    font-weight: bold;
    color: azure;
    background-color: black;
    padding: 10px 10px;
    /* border: 6px solid red; */
}


@media (max-width: 570px) {
    
.container {
    background-color: wheat;
    border: 15px solid black;
    width: 350px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    position: relative;
    border-radius: 5px;
}

span {
    font-size: 66px;
}

#clo {
    position: absolute;
    top: -39px;
    font-size: 25px;
    font-weight: bold;
    color: azure;
    background-color: black;
    padding: 5px 5px;

    /* border: 6px solid red; */
}


}